<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/pure/pure-min.css" />
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css" />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">MANGO SHOP HOME</a>
        <a class="pure-menu-item" href="/shops">VIEW SHOPS</a>
        <a class="pure-menu-item" href="/newDeal">NEW DEAL</a>
      </div>
    </div>

    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>

{{!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container" >
		<h1>Mango App</h1>
	{{{body}}}
	</div>
</body>
</html> --}}