<h2>Best deals</h2>
<form action="/action_Shop" method="post">
  <label for="shop">Choose a shop:</label>
  <select name="shop" id="shop">
    <option value="Mangolicious">Mangolicious</option>
    <option value="Mango Pango">Mango Pango</option>
    <option value="Shop 4 Mangos">Shop 4 Mangos</option>
    <option value="Margots Mango Market">Margots Mango Market</option>
    <option value="Magic Mangos9">Magic Mangos</option>
  </select>
  <div>
        <label class="la">
            <h4>price</h4><input type="number" value="" name="price" class="shopping" placeholder="Type in price here!">
            <h4>qty</h4><input type="number" value="" name="qty" class="shopping" placeholder="Type in qty here!">
        </label>
    </div>
 

<div>
  <br></br>
  <input type="submit" value="Submit">
  <a href="/listshop" >listshop</a>
</form>